
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    ---colo-red: rgb(255, 8, 8);
    --color-menu:rgb(252, 230, 230);
    --color-red:rgb(245, 9, 9);
    --color-menu:rgb(252, 230, 230);
    --color-menu-hover:rgba(245, 238, 238, 0.822);
}

/*---------HEADER-------*/

header{
    width: 100%;
    background-color: var(--color-menu);
    position: fixed;
    z-index: 3;
  

}
.espacio{
height: 150px;
}
header h1{
font-size: 24px;
}
header a{
font-size: 15px;
}
/*--------BUTTOM MATRÃCULA------ */
.buttom{
display: flex;
flex-direction: row;
align-items: center;

}
.logo-buttom{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 3%;
}

.logo-buttom .buttom a{
text-decoration: none;
color: white;
padding: 8px 8px;
font-size: 16px;
border-radius:5px;
background-color:rgb(46, 43, 43);
}
.logo-buttom a:hover{
background-color: rgba(0, 0, 0, 0.945);
}
/*-------------LOGO--------------*/
.logo{
display: flex;
align-items: center;
}
.logo img{
max-width: 20%;
}
.logo h1{
padding-left:2% ;
color: rgb(11, 11, 20);
}
.logo .color-acento{
color:var(--color-red);
}
/*-----------------LINKS---------------*/

.menu{
margin-left: 3%;
}
.menu li{
list-style: none;
}
.menu > li{ 
position: relative;
display: inline-block; 
}
.menu li a{
display: block;
text-decoration: none;
font-weight: 700;
padding: 10px 10px;
color: black;
}
.menu a:hover{
color:var(--color-red);
transition: all .1s;
cursor: pointer;
background-color: var(--color-menu-hover);
}
.sub-menu{
position: absolute;
opacity: 0;
transition: opacity 1s;
overflow: hidden;
z-index: 3;
}
.menu li:hover .sub-menu{
visibility: visible;
opacity: 1;
}
.sub-menu div{
transform: translate(0,-100%);
transition: all 0.2s 0.1s;
position: absolute;

}
.sub-nosotros{
padding: 0 0;

}
.menu :hover ul div{
transform: translate(0,0);
position: relative;
background-color: rgb(253, 250, 250);
}
@media (max-width: 780px){
    header{
        position: relative;
        margin-bottom: 20px;
    }
    .espacio{
        display: none;
    }

    header h1{
    font-size: 40px;
    }
    header a{
    font-size: 20px;
    }
    header .logo img{
    height: 100%;

    }
    .navegation{
    text-align: center;
    }
    .menu{
    display: flex;
    flex-direction: column;
    }
}


  
h1{
    color:var(---colo-red); 
    font-size: 25px;
}
.table1-table2 table{
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--color-menu);
    margin: 20px auto;
    font-size: 18px;

}
.contactanos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table1-table2 table tr td{
    padding: 10px;
}
.menu-list select{
    height: 30px;
    font-size: 18px;

}
.table1-table2 input{
    height: 25px;
}
.table1-table2 input{
    font-size: 18px;
}
.table1-table2 input::placeholder{
    font-size: 16px;
    padding-left:10px ;
}
.asunto{
    font-size: 22px;
}
.menu-list option{
    font-size: 11px
}
.table3 table{
    margin:0 auto;

}
.table3 textarea{
    border: none;
    font-size: 18px;
}
.table3 button{
    background-color: var(---colo-red);
    color: white;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 17px;
}
.table3 button:hover{
    background-color: rgb(204, 32, 32);

}
.aliados img{
    width: 100%;
}
@media (max-width:700px) {
    .aliados{
        display: flex;
        flex-wrap: wrap;
}    
}

@media(min-width:1000px){
    .table1-table2{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .contactanos{
        width: 100%;
        border: 1px solid bla;
    }
    .table1-table2 table{
        margin: 20px;
    }
    .table3{
        margin-top: 15px;
    }
}
@media(min-width:1200px){
    h1{
        font-size: 40px;
    }
    .table1-table2 table{
        margin: 80px;
        font-size: 20px
    }
    .table1-table2 input::placeholder{
        font-size: 16px;
        
    }
    .table1-table2 td {
        padding-left: auto 30px;
    }
    .table1-table2 table{
        padding: auto 30px;
        margin: auto 200px;
    }
}   
.aliados_section,.aliados{
    margin: 40px auto;
}
.aliados_section h1{
    text-align: center;

}
.aliados{
    width: 100%;
    display: flex;

    
    justify-content:space-evenly;
}
.aliados .container-img-aliados img{
    height: 160px;
    border-radius: 15px;
}
.container-img-aliados{
    max-width: 230px;
    border-radius: 20%;
    text-align: center;
}

.container-img-aliados p{
    padding: 10px;
    
}
/*------------------FOOTER---------------*/
footer{
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
}
.item3 img{
    display: block;
    width: 50px;
}

.final{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.parrafo{
    display: flex;
}
.parrafo .direccion{
    margin-left: 60px;
}
.item1{
    padding: 20px
}
.item3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:1060px){
  
   .final{
    grid-template-columns: auto;
   }
   
   .item2,.item1{
    text-align: center;
   }
   .item3{
    justify-content: center;
   }
   .item3 img{
    margin: 15px;
   }
}


@media (min-width: 838px){
    .espacio{
        height: 127px;
    }
}

