*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    ---color-red:rgb(255, 0, 0);
    --color-red:rgb(245, 9, 9);
    --color-menu:rgb(252, 230, 230);
    --color-menu-hover:rgba(245, 238, 238, 0.822);
    font-size: 18px;
}
header{
    width: 100%;
    background-color: var(--color-menu);
    z-index: 3;
    position: fixed;
}
.espacio{
    height: 150px;
}
header h1{
    font-size: 24px;
}
header a{
    font-size: 15px;
}
/*--------BUTTOM MATRÃCULA------ */
.buttom{
display: flex;
flex-direction: row;
align-items: center;

}
.logo-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}

.logo-buttom .buttom a{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    font-size: 16px;
    border-radius:5px;
    background-color:rgb(46, 43, 43);
}
.logo-buttom a:hover{
    background-color: rgba(0, 0, 0, 0.945);
}
/*-------------LOGO--------------*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 20%;
}
.logo h1{
    padding-left:2% ;
    color: rgb(11, 11, 20);
}
.logo .color-acento{
    color:var(--color-red);
}
/*-----------------LINKS---------------*/

.menu{
    margin-left: 3%;
}
.menu li{
    list-style: none;
}
.menu > li{ 
    position: relative;
    display: inline-block; 
}
.menu li a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 10px;
    color: black;
}
.menu a:hover{
    color:var(--color-red);
    transition: all .1s;
    cursor: pointer;
    background-color: var(--color-menu-hover);
}
.sub-menu{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    z-index: 3;
}
.menu li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.sub-menu div{
    transform: translate(0,-100%);
    transition: all 0.2s 0.1s;
    position: absolute;

}
.menu :hover ul div{
    transform: translate(0,0);
    position: relative;
    background-color: rgb(253, 250, 250);
}
@media (max-width: 780px){
    header{
        position: relative;
    }
    .espacio{
        display: none;
    }
   header h1{
    font-size: 40px;
   }
   header a{
    font-size: 20px;
   }
   header .logo img{
    height: 100%;
   }
   .navegation{
    text-align: center;
   }
   .menu{
    display: flex;
    flex-direction: column;
   }
}


.avarange-theory input, .avarange-laboratory input,.row2 input{
    border: 1px solid var(---color-red);
    width: 25px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}
.nota-final-guia{
    background-color: var(---color-red);
    color: white;
    width: 220px;
    text-align: center;
    
}
.evaluation-system h1{
    color: var(---color-red);
    text-align: center;
    font-size: 25px;
    padding-top:20px ;
}

.container-grade-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grade{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
.grade input::placeholder{
    text-align: start;
    padding-left: 10px;
    font-size: 16px;
}
.grade input{
    width: 250px;
    height: 25px;
    font-size: 16px;
    padding-left: 10px;
}
.student-photo{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(201, 223, 223);
    border: 3px solid var(---color-red);
}
img{
    max-width: 150px;
    border-radius: 4px;
}
.avarange{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(231, 224, 224);
    
}
.avarange table td{
    padding: 12px;
}
.avarange table th{
    font-size: 20px;
    padding: 10px;

}
.nota-final-guia{
    padding: 0;
    margin: 0;
    width: 300px;
}
#respuestas{
    width: auto;
    height: 50px;
}
/*--------LINEA- HORISONTAL-------*/
hr{
    border: 1px solid rgb(14, 14, 14);

}
#avarange_final,#avarange_teo,#avarange_lab{
    width: 100px;
}
#avarange_teo_final,#avarange_lab_final{
    font-weight: 700;
    width: 40px;
}
#respuestas{
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: center;
}
.td-buttom{
    text-align: center;
}
#buttom{
    background-color:var(---color-red);
    color: white;
    font-size: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

@media (min-width:1000px) {
    .container-grade-img{
        flex-direction: row;
        justify-content: space-evenly;
    }
     .avarange{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
     }
     .grade{
        text-align: start;
     }
     .avarange table th{
        font-size: 27px;
     }
     .grade{
        font-size: 27px;
     }
     .grade input{
        font-size: 20px;
        padding: 7px;
        border-radius:5px ;
     }
     .grade input::placeholder{
        font-size: 19px;
     
    }
    #respuestas{
        font-size: 30px;
        height: 80px;
        
    } 
     
   .final{
    grid-template-columns: auto;
   }
   
   .item2,.item1{
    text-align: center;
   }
   .item3{
    justify-content: center;
   }
   .item3 img{
    margin: 15px;
   }
}
/*------------------FOOTER---------------*/
footer{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
    width: 100%;
}
.item3 img{
    display: block;
    width: 50px;
}

.final{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.parrafo{
    display: flex;
}
.parrafo .direccion{
    margin-left: 60px;
}
.item1{
    padding: 20px
}
.item3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (min-width: 838px){
    .espacio{
        height: 127px;
    }
}
@media (max-width:500px) {

    footer{
        width: 100%;
    }
    .item3 a{
        display: block;
    }
    .final{
        display: flex; 
        flex-direction: column;
    }
    input{
        width: auto;
    }
  
    #respuestas{
        text-align: center;
        width: 300px;
        font-size: 30px;
        height: 80px;
    }  
    
  
}
    

