*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
   
    font-family: 'Roboto', sans-serif;
    --color-red:rgb(245, 9, 9);
    --color-menu:rgb(252, 230, 230);
    --color-menu-hover:rgba(245, 238, 238, 0.822);

}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    background-color: var(--color-menu);
    position: fixed;
    z-index: 3;

    
}
.espacio{
    height: 150px;
}
header h1{
    font-size: 24px;
}
header a{
    font-size: 15px;
}
/*--------BUTTOM MATRÃCULA------ */
.buttom{
display: flex;
flex-direction: row;
align-items: center;

}
.logo-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
}

.logo-buttom .buttom a{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    font-size: 16px;
    border-radius:5px;
    background-color:rgb(46, 43, 43);
}
.logo-buttom a:hover{
    background-color: rgba(0, 0, 0, 0.945);
}
/*-------------LOGO--------------*/
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 20%;
}
.logo h1{
    padding-left:2% ;
    color: rgb(11, 11, 20);
}
.logo .color-acento{
    color:var(--color-red);
}
/*-----------------LINKS---------------*/

.menu{
    margin-left: 3%;
}
.menu li{
    list-style: none;
}
.menu > li{ 
    position: relative;
    display: inline-block; 
}
.menu li a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 10px;
    color: black;
}

.sub-nosotros{
    padding: 0 0; 
  }

.menu a:hover{
    color:var(--color-red);
    transition: all .1s;
    cursor: pointer;
    background-color: var(--color-menu-hover);
}
.sub-menu{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
    z-index: 3;
}
.menu li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.sub-menu div{
    transform: translate(0,-100%);
    transition: all 0.2s 0.1s;
    position: absolute;

}
.menu :hover ul div{
    transform: translate(0,0);
    position: relative;
    background-color: rgb(253, 250, 250);
}
@media (max-width: 780px){
    header{
        position: relative;
    }
    .espacio{
       display: none;
    }
   header h1{
    font-size: 40px;
   }
   header a{
    font-size: 20px;
   }
   header .logo img{
    height: 100%;
   }
   .navegation{
    text-align: center;

   }
   .menu{
    display: flex;
    flex-direction: column;
   }
}
/*------------CARROUSEL-----------*/
.carrusel{

    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;

}
.cont-cont{
    width: 100%;
}
/*-------------QUE OFRESEMOS---------*/
.our-services{
    margin-top:10px ;
}
.container-imagenes{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto auto;
    justify-content: space-around;
    background-color: rgb(231, 224, 224);
}
.container-imagenes img{
    height: 200px;
    margin: 15px;
    border-radius: 100%;
    border: 10px solid rgb(238, 122, 122);
}
.container-img{
    text-align: center;
}



/*--------------NUESTROS OBJETIVOS--------------*/


#nuestros-obejtivos{
    color: rgb(0,0,0);
    text-align: center;
    width: 100%;
  }
  
  #nuestros-obejtivos .container-obj{
    padding: 150px 12px;
  }
  
  #nuestros-obejtivos p{
    font-size: 16px;
  }
  
  #nuestros-obejtivos h2{
    margin-top: 0;
    font-size: 3.1em;
  }
  
  #nuestros-obejtivos h3{
    font-size: 1.8em;
    margin: 0;
  }
  
  .trabajos{
    display: flex;
    flex-wrap: wrap;
  }


  #nuestros-obejtivos .carta{
    background-position: center center;
    background-size: cover;   /*Aqui estoy determinando que la imagen dentro de la carta, ocupe todo su espcio*/
    padding: 45px;
    margin: 20px;
    border-radius: 14px;
    overflow: hidden;
    transition: all 400ms ease;
    color: #fff;
    width: 45%;
    height: 300px;
    /* width: 30%; */
  }
  
  .carta:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.44);
    transform: translateY(-4%);
  }
  
  .carta:first-child{ /*Representa el primer elemento entre un grupo de hermanos*/
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    )  /*Estoy agregando algun tipo de efecto oscuro a la imagen que agregue de fondo*/
    ,url("../imagenes/Home/mision.png");
  }
  
  .carta:nth-child(2){ /*Aqui estoy determinando el segundo elemento entre el grupo de hermanos(que estan uno al lado del otro)*/
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    )  
    ,url("../imagenes/Home/vision.png");
  }
  
  .carta:nth-child(3){ /*Aqui estoy determinando el tercer elemento entre el grupo de hermanos*/
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    )  
    ,url("../imagenes/Home/primaria.png");
  }
  
  .carta:nth-child(4){ /*Aqui estoy determinando el tercer elemento entre el grupo de hermanos*/
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    )  
    ,url("../imagenes/Home/talleres-tecnicos.png");
  }




/*------------------FOOTER---------------*/
footer{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.945);
    color: white;
}
.item3 img{
    display: block;
    width: 50px;
}

.final{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.parrafo{
    display: flex;
}
.parrafo .direccion{
    margin-left: 60px;
}
.item1{
    padding: 20px
}
.item3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:1060px){
    .cont-cont{
        width: 100%;

    }
    .container-imagenes{
        grid-template-columns: auto auto ;
    }
    .objetivos,.cont-primari-technical{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .cont-primari-technical{
    border: none;
   }
   .final{
    grid-template-columns: auto;
   }
   .parrafo{
    text-align: center;
   }
   
   .item2,.item1{
    text-align: center;
   }
   .item3{
    justify-content: center;
   }
   .item3 img{
    margin: 15px;
   }
}


@media (min-width: 838px){
    .espacio{
        height: 127px;
    }
}
@media (max-width: 838px){
    .espacio{
        height: 127px;
    }
    .trabajos{
        width: 100%;
        align-items: center;
    }
    #nuestros-obejtivos .carta{
        width: 100%;
        height: 385px;
    }

      
  #nuestros-obejtivos p{
    font-size: 14px;
  }
  
  #nuestros-obejtivos .container-obj{
    padding: 150px 0;
  }
  
  #nuestros-obejtivos h3{
    font-size: 1.4em;
    margin: 0;
  }
}
@media (max-width:500px) {

    .container-imagenes{
        grid-template-columns: auto;
    }
    
}